

:root {
  --black: #000000;
  --white: #ffffff;
  --tuna: #343549;
  --cornflower-blue: #7a89fe;
  --manatee: #8c8fa7;
  --polo-blue: #95aadf;
  --ebony-clay: #28293c;
  --bittersweet: #fb8477;
  --mountain-meadow: #17b294;
  --ebony-clay-2: #28293b;
  --alto: #d8d9de;
  --bittersweet-2: #fb847733;
  --cornflower-blue-2: #7a89fe33;
  --font-size-m: 16px;
  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-l: 18px;
  --font-size-xxxl: 40px;
  --font-size-xxl: 24px;
  --font-size-xl: 20px;
}


.invoice-with-crypto {
  align-items: flex-start;
  background-color: white;
  display: flex;
  height: 1024px;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  min-height: 971px;
  width: 1136px;
}

.resent-invoices {
  align-items: flex-start;
  display: flex;
  height: 895px;
  margin-top: 30px;
  min-width: 1136px;
}

.flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 895px;
  width: 386px;
}

.overlap-group1-1 {
  align-items: flex-end;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #7a89fe0a;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-top: 37px;
  min-height: 452px;
  padding: 19px 16px;
  width: 380px;
}

.ellipse-container {
  align-self: center;
  height: 182px;
  margin-right: 8.45px;
  margin-top: 30px;
  position: relative;
  width: 182px;
}

.ellipse-261 {
  height: 86px;
  left: 67px;
  position: absolute;
  top: 96px;
  width: 114px;
}

.ellipse-260 {
  height: 91px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 119px;
}

.ellipse-262 {
  height: 171px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 69px;
}

.group-36 {
  align-items: center;
  display: flex;
  height: 29px;
  margin-top: 30px;
  min-width: 344px;
}

.ellipse-252 {
  background-color: var(--mountain-meadow);
  border-radius: 5px;
  height: 10px;
  margin-bottom: 1px;
  width: 10px;
}

.percent {
  align-self: flex-end;
  color: var(--mountain-meadow);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 133px;
  min-height: 22px;
  min-width: 38px;
  text-align: right;
}

.uche-okeke {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 29px;
  min-width: 139px;
}

.inter-medium-white-24px {
  color: black;

  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  height: 24px;
  margin-right: 0.7px;
  margin-top: 1px;
  min-width: 339px;
}

.all-invoices {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 111px;
  white-space: nowrap;
}

.inter-semi-bold-white-20px {
  color: black;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.iconly-light-danger-circle-1 {
  height: 16px;
  margin-bottom: 1.7px;
  margin-left: 212px;
  width: 16px;
}

.group-368 {
  align-items: flex-start;
  display: flex;
  height: 29px;
  margin-top: 30px;
  min-width: 344px;
}

.percent-2 {
  color: var(--cornflower-blue);
 
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 129px;
  min-height: 24px;
  min-width: 39px;
  text-align: right;
}

.riad-hassan {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 29px;
  min-width: 142px;
}

.ellipse-252-2 {
  align-self: center;
  background-color: var(--cornflower-blue);
  border-radius: 5px;
  height: 10px;
  margin-bottom: 1px;
  width: 10px;
}

.ellipse-252-1 {
  background-color: var(--bittersweet);
  border-radius: 5px;
  height: 10px;
  margin-bottom: 1px;
  width: 10px;
}

.percent-1 {
  align-self: flex-end;
  color: var(--bittersweet);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 95px;
  min-height: 24px;
  min-width: 43px;
  text-align: right;
}

.name-9 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 29px;
  min-width: 172px;
}

.invoices-2 {
  align-items: flex-end;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #7a89fe0a;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  min-height: 406px;
  padding: 20px 14px;
  width: 380px;
}

.group-80 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-top: 24px;
  min-width: 346px;
}

.price-10 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 69px;
  min-height: 24px;
  min-width: 44px;
  white-space: nowrap;
}

.inter-semi-bold-white-15px {
  color: black;
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.name-7 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 102px;
  white-space: nowrap;
}

.inter-medium-white-16px {
  color: black;
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.x13-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 67px;
  min-height: 24px;
  white-space: nowrap;
}

.inter-normal-manatee-14px {
  color: var(--manatee);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.price-8 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 91px;
  min-height: 24px;
  min-width: 40px;
  white-space: nowrap;
}

.x3-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 75px;
  min-height: 24px;
  white-space: nowrap;
}

.name-5 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 80px;
  white-space: nowrap;
}

.name-6 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 120px;
  white-space: nowrap;
}

.x10-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 58px;
  min-height: 24px;
  white-space: nowrap;
}

.price-9 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 51px;
  min-height: 24px;
  min-width: 53px;
  white-space: nowrap;
}

.group-805 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-right: 1px;
  margin-top: 24px;
  min-width: 345px;
}

.price-11 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 67px;
  min-height: 24px;
  min-width: 50px;
  white-space: nowrap;
}

.x23-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 59px;
  min-height: 24px;
  white-space: nowrap;
}

.name-8 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 104px;
  white-space: nowrap;
}

.group-799 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-right: 1px;
  margin-top: 30px;
  min-width: 345px;
}

.price-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 90px;
  min-height: 24px;
  min-width: 51px;
  white-space: nowrap;
}

.name-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 81px;
  white-space: nowrap;
}

.x12-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 57px;
  min-height: 24px;
  white-space: nowrap;
}

.x8-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 76px;
  min-height: 24px;
  white-space: nowrap;
}

.price-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 55px;
  min-height: 24px;
  min-width: 39px;
  white-space: nowrap;
}

.name-4 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 116px;
  white-space: nowrap;
}

.group-807 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 2px;
  min-width: 342px;
}

.invoices-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 81px;
  white-space: nowrap;
}

.group-806 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 198px;
  min-width: 63px;
}

.iconly-light-arrow-down-2-1 {
  height: 10px;
  margin-left: 9px;
  width: 10px;
}

.open {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 41px;
  white-space: nowrap;
}

.inter-normal-white-16px {
  color: black;
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.x7-days {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 65px;
  min-height: 24px;
  white-space: nowrap;
}

.price-7 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 84px;
  min-height: 24px;
  min-width: 51px;
  white-space: nowrap;
}

.lettie-pope {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 87px;
  white-space: nowrap;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 888px;
  width: 720px;
}

.group-815 {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #7a89fe0a;
  display: flex;
  height: 180px;
  justify-content: flex-end;
  margin-top: 30px;
  min-width: 720px;
  padding: 0 15px;
}

.rectangle-19 {
  background-color: var(--ebony-clay-2);
  height: 130px;
  margin-left: 46px;
  width: 1px;
}

.group-814 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  width: 179px;
}

.x-due {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.see-detailed-stats {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 42px;
  min-height: 24px;
  white-space: nowrap;
}

.inter-semi-bold-white-40px {
  color: black;
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.address-2 {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.group-812 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  min-height: 140px;
  width: 174px;
}

.price-3 {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.address-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 42px;
  min-height: 24px;
  white-space: nowrap;
}

.group-813 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  min-height: 140px;
  width: 134px;
}

.price-2 {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.address-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 42px;
  min-height: 24px;
  white-space: nowrap;
}

.overlap-group2-1 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #7a89fe0a;
  height: 452px;
  margin-top: 30px;
  position: relative;
  width: 720px;
}

.inter-medium-white-18px {
  color: black;
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.amount {
  left: 471px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.status {
  left: 589px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.resent-invoices-1 {
  color: black;
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.overlap-group-4 {
  height: 709px;
  left: 20px;
  position: absolute;
  top: -275px;
  width: 1019px;
}

.place {
  left: 300px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 360px;
  white-space: nowrap;
}

.group-818 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 658px;
  position: absolute;
  top: 555px;
}

.pq-256-c {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 72px;
  min-height: 24px;
  min-width: 80px;
  white-space: nowrap;
}

.address {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 59px;
  min-height: 24px;
  min-width: 98px;
  white-space: nowrap;
}

.price {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 53px;
  min-height: 24px;
  min-width: 62px;
  white-space: nowrap;
}

.name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 89px;
  white-space: nowrap;
}

.frame-3 {
  align-items: flex-start;
  background-color: var(--bittersweet-2);
  border-radius: 21px;
  display: flex;
  height: 24px;
  margin-left: 56px;
  min-width: 81px;
  padding: 0 8px;
}

.overdue {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.inter-normal-bittersweet-16px {
  color: var(--bittersweet);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.rectangle-1929 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 130px;
  transform: rotate(-90deg);
  width: 1px;
}

.rectangle-1931 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 260px;
  transform: rotate(-90deg);
  width: 1px;
}

.group-819 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 658px;
  position: absolute;
  top: 620px;
}

.price-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 53px;
  min-height: 24px;
  min-width: 64px;
  white-space: nowrap;
}

.address-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 50px;
  min-height: 24px;
  min-width: 98px;
  white-space: nowrap;
}

.frame-7 {
  align-items: flex-start;
  background-color: var(--bittersweet-2);
  border-radius: 21px;
  display: flex;
  height: 24px;
  margin-left: 54px;
  min-width: 81px;
  padding: 0 8px;
}

.overdue-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.pq-4491-c {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 55px;
  min-height: 24px;
  min-width: 89px;
  white-space: nowrap;
}

.name-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 106px;
  white-space: nowrap;
}

.rectangle-1932 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 325px;
  transform: rotate(-90deg);
  width: 1px;
}

.rectangle-1930 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 195px;
  transform: rotate(-90deg);
  width: 1px;
}

.group-821 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 626px;
  position: absolute;
}

.frame-5 {
  align-items: flex-start;
  background-color: #17b29433;
  border-radius: 21px;
  display: flex;
  height: 24px;
  min-width: 49px;
  padding: 0 8px;
}

.paid {
  color: var(--mountain-meadow);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.group-820 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 655px;
  position: absolute;
  top: 685px;
}

.frame-6 {
  align-items: flex-start;
  background-color: var(--cornflower-blue-2);
  border-radius: 21px;
  display: flex;
  height: 24px;
  margin-left: 56px;
  min-width: 78px;
  padding: 0 8px;
}

.pending-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.inter-normal-cornflower-blue-16px {
  color: var(--cornflower-blue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.rectangle-1928 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 65px;
  transform: rotate(-90deg);
  width: 1px;
}

.rectangle-1902-1 {
  background-color: var(--ebony-clay);
  height: 680px;
  left: 339px;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 1px;
}

.group-817 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 655px;
  position: absolute;
  top: 490px;
}

.frame-4 {
  align-items: flex-start;
  background-color: var(--cornflower-blue-2);
  border-radius: 21px;
  display: flex;
  height: 24px;
  margin-left: 54px;
  min-width: 78px;
  padding: 0 8px;
}

.pending {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.pq-460-c {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 61px;
  min-height: 24px;
  min-width: 81px;
  white-space: nowrap;
}

.name-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 100px;
  white-space: nowrap;
}

.price-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 50px;
  min-height: 24px;
  min-width: 64px;
  white-space: nowrap;
}

.address-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 58px;
  min-height: 24px;
  min-width: 101px;
  white-space: nowrap;
}

.client {
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.see-all {
  left: 643px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.place-1 {
  left: 181px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.congratulation {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #7a89fe0a;
  display: flex;
  height: 196px;
  min-width: 720px;
  padding: 29.9px 30px;
}

.overlap-group-3 {
  align-self: flex-end;
  height: 136px;
  margin-left: 32px;
  position: relative;
  width: 201px;
}

.rectangle-1934 {
  background-color: var(--cornflower-blue);
  border-radius: 15px;
  height: 85px;
  left: 34px;
  opacity: 0.2;
  position: absolute;
  top: 22px;
  transform: rotate(14.86deg);
  width: 159px;
}

.rectangle-1937 {
  background-color: var(--cornflower-blue);
  border-radius: 15px;
  height: 85px;
  left: 8px;
  opacity: 0.1;
  position: absolute;
  top: 32px;
  transform: rotate(14.86deg);
  width: 159px;
}

.rectangle-1936 {
  background-color: var(--cornflower-blue);
  border-radius: 15px;
  height: 85px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 11px;
  transform: rotate(7.64deg);
  width: 159px;
}

.rectangle-1935 {
  background-color: var(--cornflower-blue);
  border-radius: 15px;
  height: 85px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 159px;
}

.group-823 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62361f57ec7f94c8a6fb1a08/releases/62361f6c405fa29606a3205d/img/rectangle-1910@2x.png);
  background-size: 100% 100%;
  height: 44px;
  left: 80px;
  position: absolute;
  top: 20px;
  width: 44px;
}

.group-810 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: 427px;
}

.congratulation-1 {
  color: black;
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.overlap-group-2 {
  align-items: center;
  background-color: var(--bittersweet);
  border-radius: 6px;
  box-shadow: 0px 8px 20px #fb847726;
  display: flex;
  height: 48px;
  margin-top: 30px;
  min-width: 146px;
  padding: 0 26px;
}

.see-detailss {
  color: #fcfdff;
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  white-space: nowrap;
}

.you-have-12-upcoming {
  color: transparent;
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.span1 {
  color: var(--mountain-meadow);
}

.inter-normal-alto-20px {
  color: var(--alto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.main {
  align-items: center;
  display: flex;
  min-width: 1130px;
}

.invoices-1 {
  color: black;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 1px;
  min-height: 31px;
  min-width: 103px;
}

.overlap-group1 {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 40px #7a89fe0d;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 487px;
  min-width: 322px;
  padding: 0 4px;
}

.overlap-group {
  align-items: center;
  background-color: var(--cornflower-blue);
  border-radius: 10px;
  display: flex;
  height: 38px;
  margin-left: 213px;
  min-width: 38px;
  padding: 0 10px;
}

.iconly-light-search {
  height: 18px;
  width: 18px;
}

.search {
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 17px;
  min-width: 47px;
}

.overlap-group-1 {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 40px #7a89fe0d;
  display: flex;
  height: 46px;
  margin-left: 29px;
  min-width: 189px;
  padding: 0 5px;
}

.ar-jakir {
  color: black;
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 54px;
}

.iconly-light-arrow-down-2 {
  height: 24px;
  margin-bottom: 0.05px;
  margin-left: 42px;
  width: 24px;
}

.rectangle-1899 {
  height: 38px;
  width: 38px;
}

.sitebar {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  padding: 30px 0;
  width: 250px;
}

.overlap-group2 {
  height: 209px;
  margin-top: 5px;
  position: relative;
  width: 206px;
}

.rectangle-1902 {
  background-color: #3b3c4e;
  height: 206px;
  left: 102px;
  position: absolute;
  top: -31px;
  transform: rotate(90deg);
  width: 1px;
}

.group-2 {
  align-items: center;
  background-color: var(--cornflower-blue);
  border-radius: 15px;
  box-shadow: 0px 8px 20px #7a89fe40;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 206px;
  padding: 0 16px;
  position: absolute;
  top: 161px;
}

.invoices {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 63px;
  white-space: nowrap;
}

.iconly-light-document {
  height: 18px;
  margin-bottom: 0.92px;
  width: 18px;
}

.group-796 {
  align-items: center;
  display: flex;
  height: 36px;
  margin:3px 10px;
  min-width: 188px; 
  left: 0;
}

.group-795 {
  align-items: flex-start;
  background-color: var(--cornflower-blue);
  border-radius: 18px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  min-width: 36px; 

  padding: 6px 6.5px;
}

.vector-container {
  height: 24px;
  position: relative;
  width: 23px;
}

.vector-2 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.vector-3 {
  height: 7px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.crypto-call {
  color: black;
    font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 1px;
  margin-left: 12px;
  min-height: 31px;
  min-width: 138px;
}

.group-4 {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 206px;
  padding: 0 16px;
  position: absolute;
  top: 107px;
}

.inter-normal-polo-blue-16px {
  color: var(--polo-blue);
  
  font-style: normal;
  font-weight: 400;
}

.dashboard {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}

.iconly-light-category {
  height: 18px;
  width: 18px;
}

.group {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 48px;
  margin-top: 6px;
  min-width: 206px;
  padding: 0 15px;
}

.analytics {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 11px;
  min-height: 24px;
  min-width: 69px;
  white-space: nowrap;
}

.iconly-light-ticket {
  height: 18px;
  width: 18px;
}

.group-1 {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 48px;
  margin-top: 6px;
  min-width: 206px;
  padding: 0 16px;
}

.frame-2 {
  height: 18px;
  width: 18px;
}

.exchanges {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}

.calendars {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 77px;
  white-space: nowrap;
}

.iconly-light-calendar {
  height: 20px;
  margin-bottom: 0.5px;
  width: 18px;
}

.settings {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 63px;
  white-space: nowrap;
}

.iconly-light-setting {
  height: 19px;
  margin-bottom: 0.25px;
  width: 18px;
}

.group-798 {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 48px;
  margin-top: 432px;
  min-width: 206px;
  padding: 0 16px;
}

.iconly-light-danger-circle {
  height: 18px;
  width: 18px;
}

.get-help {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 67px;
  white-space: nowrap;
}

.iconly-light-wallet {
  height: 18px;
  width: 19px;
}

.my-wallets {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 82px;
  white-space: nowrap;
}
