.deployed-card {
  min-height: 270px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 20px 0 rgb(17 30 79 / 10%);
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.deployed-status {
  position: absolute;
  bottom: 4px;
  left: 35%;
}
.deployed-status a {
  text-decoration: none !important;
}
