.about-us-line {
    width: 180px;
}

.what-is-need-line {
    width: 300px;
}

.how-it-work-line {
    width: 300px;
}

.contact-us-line {
    width: 200px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: headline-animation;
    animation-duration: 3s;
}

hr {
    margin-bottom: 40px;
}

.title-div {
    height: 120px;
    background-color: white;
    transition: transform .2s;
    animation-name: headline-animation;
    animation-duration: 2s;

}

.title-div:hover {
    transform: scale(1.1);
}

.row-style {
    margin-bottom: 40px;
    animation-name: headline-animation;
    animation-duration: 3s;
}

.home-headline {
    animation-name: headline-animation;
    animation-duration: 3s;
    margin-top: 60px;
}

@keyframes headline-animation {
    from {
        color: white;
    }

    to {
        color: blacks;
    }
}