.buy-container {
  position: relative;
}

.buy-dropdown-options {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  padding: 0;
  width: 195px;
  height: 50vh;
  overflow-y: scroll;
  z-index: 100;
  background-color: white;
  top: 75px;
}

.buy-dropdown-options-show {
  display: block;
}

.addedeItem {
  width: auto;
  min-height: 30px;
  border: 1px solid;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.equation-item {
  height: 28px;
  margin-top: 1px;

  color: rgb(0, 0, 0);
  border-radius: 2px;
  margin-left: 2px;
}
.css-2w1gae::-webkit-scrollbar-track {
  border: 1px rgb(255, 223, 223);
  padding: 2px 0;
  background-color: #ffffff;
}
.css-2w1gae::-webkit-scrollbar {
  width: 5px;
}
.css-2w1gae::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #a79a9a;
  border: 1px solid rgb(255, 255, 255);
}

.equation-item {
  min-width: 60px;
  border-radius: 20px;
  padding-top: 3px;
  background-color: rgb(55, 55, 241);
  color: #ffffff;
  position: relative;
}
.equation-item span {
  height: 100%;
  margin-left: 10px;
}
